* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#string > span {
    font-family: monospace;
    white-space: pre;
}

#last-char {
    color: lightgray;
}

.hidden {
    display: none;
}